<!DOCTYPE html>
<html>
<head>
    <title>Kütüphane Kitap Sayım Sistemi</title>
</head>
<body>
    <h2>Hoş geldiniz!</h2>
    <p>Burada kitap şablonunu indirip verilerinizi yükleyebilirsiniz.</p>
    <hr>
    <h3>📤 Kitap Dosyasını Yükle</h3>
    <form action="/yukle" method="POST" enctype="multipart/form-data">
        <input type="file" name="dosya" required>
        <button type="submit">Yükle ve Listele</button>
    </form>

    <hr>
    <h3>📲 Barkodla Kitap Sayımına Geç</h3>
    <a href="/sayim">
        <button>📡 Sayım Ekranına Git</button>
    </a>

    <a href="/sablon-bos-indir">
        <button>📥 Boş Şablonu İndir</button>
    </a>

    <a href="/sablon-indir">
        <button>📥 Yüklenen Dosyayı İndir</button>
    </a>

    <a href="/dosya-sil">
        <button style="background-color:red; color:white;">🗑️ Yüklenen Dosyayı Sil</button>
    </a>
    <a href="/cezaevi">
        <button style="background-color: purple; color: white;">🏛️ Cezaevi Ekranına Git</button>
    </a>


</body>
</html>
